.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newPostContainer {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer button {
    margin-top: 5px;
    border-radius: 10px;
    font-size: 20px;
    border-color: #0e6dfd;
    background-color: #0e6dfd;
    color: white;
}

.formContainer button:hover {
    background-color: blue;
    cursor: pointer;
}

.posts{
    margin-top: 10px;
}
