.allContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    width: 85%;
}
.contentContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}