.mainContainer{
    width: 95%;
    margin-left: 10px;
    margin-top: 60px;
    display: flex;
}
.contentContainer{
    background-color: white;
    border-radius: 10px;
    width: 250px;
}
.imgContainer{
    display: flex;
    align-items: start;
    padding-top: 5px;
}
.imgContainer img{
    border-radius: 50%;
}
.timeContainer{
    display: flex;
    justify-content: center;
}
.textContainer{
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}